<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/ls.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<body>
  <div class="containerl">
    <div class="cover">
      <div class="front">
        <img src="images/evenblog.png" alt="" />
      </div>
    </div>

    <div class="forms">
      <div class="form-content">
        <div class="signup-form">
          <div class="title">SignUp</div>
          <form action="/signup" method="POST">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your name" name="userhandle" required />
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="username" required />
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input
                  type="password"
                  placeholder="Enter your password" name="password"
                  required
                />
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit" />
              </div>
              <div class="text sign-up-text">
                Already have an account?<a href="/login">Login Now</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
